{{define "subject"}}{{.Subject}}{{end}}
{{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
</head>
<body>
<p>Dear User,</p>
<p>Please click the link below to reset your password. Please click the link below to reset your password:</p>
<p>Token: {{.Meta.Token}}</p>
<p>OR click the link below</p>
<a href="{{.Meta.FrontendUrl}}">Reset Password</a>
<p>If you did not request a password reset, please ignore this email.</p>
<p>Best regards,<br>{{.AppName}} Team</p>
</body>
</html>
{{end}}